.result_heading {
  color: var(--Light-Blue, #cac9ff);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Hanken Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.number_heading {
  color: var(--White, #fff);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Hanken Grotesk";
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 72px;
}
.number_paragraph {
  color: var(--Light-Blue, #cac9ff);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Hanken Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.5168;
}

.Blue_paragraph_heading {
  color: var(--White, #fff);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Hanken Grotesk";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.Blue_paragraph_paragraph {
  color: var(--Light-Blue, #cac9ff);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Hanken Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
