.summary {
  color: var(--Dark-Navy, #303b59);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Hanken Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.icon_box {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.red_paragraph {
  color: var(--Red, #f55);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Hanken Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.number_paragraph {
  color: var(--Dark-Navy, #303b59);
  text-align: right;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Hanken Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.number_span {
  color: var(--Dark-Navy, #303b59);
  text-align: right;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Hanken Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.5;
}
.memory {
  color: var(--Yellow, #ffb21e);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Hanken Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Verbal {
  color: var(--Green, #00bb8f);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Hanken Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Visual {
  color: var(--Blue, #1125d6);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Hanken Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.button_p {
  color: var(--White, #fff);
  text-align: right;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Hanken Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.summary_box {
  width: 288px;
  display: flex;
  align-items: start;
}
